<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body.html_safe %>
</p>

<p>
  <strong>Answers:</strong>
  <ol>
    <%= render :partial => @question.answers %>
  </ol>
</p>

<p>
  <strong>Comment:</strong>
  <%= @question.comment.html_safe %>
</p>



<p>
  <strong>Categories:</strong>
  <ul>
    <%= render :partial => @question.categories %>
  </ul>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
