<h2>Kategorien aus Typo3</h2>
  <p>
    <h3>Filter:</h3><button id="all">Alle</button>&nbsp;<button id="oral">M&uuml;ndlich</button>&nbsp;<button id="mc">Schriftlich</button>
  </p>

<%= form_tag({controller: 'categories', action: 'new'}, method: 'get') do %>
  <table class="kategorien" cellpadding="6px">
    <thead>
      <tr>
        <th>Kategorie Name</th>
        <th>Fragen</th>
        <th>Fragen ID</th>
        <th>Verwendet in</th>
        <th>IN-APP</th>
        <th>Markieren</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "typo3/category", collection: @categories %>
    </tbody>
    
  </table>
  <br/><br/>
  <%= submit_tag("Neue IN APP Purchase Kategorie mit selektierten Fragen erzeugen!") %>&nbsp;&nbsp;&nbsp;
  Zu IN APP Purchase <%= select_tag :existing_in_app, options_from_collection_for_select(@inApps, "id", "title")%> <%= submit_tag("addieren")%>
<% end %>

<script type="text/javascript">
var rows = $('table.kategorien tr');

$('#oral').click(function() {
  var oral = $('table.kategorien tr.oral');
  var mc = $('table.kategorien tr.mc');
  oral.show();
  mc.hide();
});

$('#mc').click(function() {
  var oral = $('table.kategorien tr.oral');
  var mc = $('table.kategorien tr.mc');
  mc.show();
  oral.hide();
});

$('#all').click(function() {
  $('table.kategorien tr').show();
});
</script>