<h2>Kreawi Kategorie</2>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Short title:</strong>
  <%= @category.short_title %>
</p>

<p>
  <strong>IN APP Purchase</strong>
  <% if @category.is_iap %>JA<% else %>NEIN<% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @category.identifier %>
</p>

<p>
  <strong>Old type:</strong>
  <%= @category.old_type %>
</p>

<p>
  <strong>Old uid:</strong>
  <%= @category.old_uid %>
</p>

<p>
  <strong>App name:</strong>
  <%= @category.app_name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @category.area %>
</p>

<% if @category.original_pruefung %>
<p>
  <strong>Original Pr&uuml;fung:</strong>
  X
</p>
<% else %>
<p>
  <strong>Type:</strong>
  <% if @category.type_id == -1 %>&nbsp;
  <% elsif @category.type_id == 0 %>Basic
  <% elsif @category.type_id == 1 %>Advanced
  <% elsif @category.type_id == 2 %>Professional<%end%>
</p>
<% end %>


<%= link_to 'Back', typo3_index_path %>

<h2>Questions</h2>
<ol>
	<%= render :partial => @questions %>
</ol>
