<h2>Listing categories</h2>

<table class="sets" cellpadding="6px">
  <thead>
    <tr>
      <th>Title</th>
      <th>Herkunft</th>
      <th>Wird verwendet in</th>
      <th>IN APP</th>
      <th>Fragen markieren</th>
      <th>Set l&ouml;schen</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td>KQuest <%= category.old_type %></td>
        <td><% if category.in_app_category %><%= category.in_app_category.app_name %><% end %></td>
        <td><% if category.in_app_category %><%= link_to category.in_app_category.identifier, category.in_app_category %><% end %></td>
        <td><%= link_to "In App Purchase erstellen", new_category_path(id: category) %></td>
        <td><%= link_to 'L&ouml;schen'.html_safe, category, method: :delete, data: { confirm: 'Ganz sicher?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to "Neues Set aus KQuest importieren", kquest_question_sets_path %><br/>
<%= link_to "Neue Kategorie aus KQuest importieren", kquest_categories_path %>

